@tailwind base;
@tailwind components;
@tailwind utilities;

.localize-marker {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.localize-marker-bubble {
    border-radius: 9999px;
    border: 1px #7d7d7d solid;
    background: white;
    display: inline-flex;
    padding-inline: 7px;
    padding-block: 3px;
    align-items: center;
}
.localize-marker-pointer {
    display: inline-flex;
    width: 26px;
    justify-content: space-between
}
.localize-marker-pointer-left {
    margin-top: -1px;
    z-index: 10;
    width: 11px;
    height: 9px;
    border: solid 1px #7d7d7d;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 9999px;
    box-shadow: 1px -1px #fff;
}
.localize-marker-pointer-middle {
    display: inline-flex;
    flex-direction: column;
    width: 4px
}
.localize-marker-pointer-middle-1 {
    margin-top: -1px;
    margin-left: -5px;
    width: 13px;
    height: 2px;
    background: white;
}
.localize-marker-pointer-middle-2 {
    margin-left: -1px;
    width: 7px;
    height: 3px;
    background: white;
}
.localize-marker-pointer-middle-3 {
    z-index: 0;
    margin-left: -1px;
    width: 6px;
    height: 7px;
    border: solid 1px #7d7d7d;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top: none;
    background-color: #fff;
}
.localize-marker-pointer-right {
    z-index: 10;
    margin-top: -1px;
    width: 11px;
    height: 9px;
    border: solid 1px #7d7d7d;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 9999px;
    box-shadow: -1px -1px #fff;
}

@media (prefers-color-scheme: dark) {
    .mapboxgl-popup-content {
        background: #2a303c;
    }

    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
        border-top-color: #2a303c;
    }

    .localize-marker {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .localize-marker-bubble {
        border-radius: 9999px;
        border: 1px #A6ADBA solid;
        background: #2A303C;
        display: inline-flex;
        padding-inline: 7px;
        padding-block: 3px;
        align-items: center;
    }
    .localize-marker-pointer {
        display: inline-flex;
        width: 26px;
        justify-content: space-between
    }
    .localize-marker-pointer-left {
        margin-top: -1px;
        z-index: 10;
        width: 11px;
        height: 9px;
        border: solid 1px #A6ADBA;
        border-left: none;
        border-bottom: none;
        border-top-right-radius: 9999px;
        box-shadow: 1px -1px #2A303C;
    }
    .localize-marker-pointer-middle {
        display: inline-flex;
        flex-direction: column;
        width: 4px
    }
    .localize-marker-pointer-middle-1 {
        margin-top: -1px;
        margin-left: -5px;
        width: 13px;
        height: 2px;
        background: #2A303C;
    }
    .localize-marker-pointer-middle-2 {
        margin-left: -1px;
        width: 7px;
        height: 3px;
        background: #2A303C;
    }
    .localize-marker-pointer-middle-3 {
        z-index: 0;
        margin-left: -1px;
        width: 6px;
        height: 7px;
        border: solid 1px #A6ADBA;
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-top: none;
        background-color: #2A303C;
    }
    .localize-marker-pointer-right {
        z-index: 10;
        margin-top: -1px;
        width: 11px;
        height: 9px;
        border: solid 1px #A6ADBA;
        border-right: none;
        border-bottom: none;
        border-top-left-radius: 9999px;
        box-shadow: -1px -1px #2A303C;
    }
}
